@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.imagebox, .wrap {
    display:inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 800px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.wrap {
    position: relative;
    margin-top: 40px;
}

.currentimage{
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.image1{background-image: url('./../../../img/testlisting/testimage1.png')}
.image2{background-image: url('./../../../img/testlisting/testimage2.png')}
.image3{background-image: url('./../../../img/testlisting/testimage3.png')}

.imagebox span{
    margin-top: 10px;
    font-size: 20px;
}

.arrow {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
    border-top: 5px solid rgb(255, 0, 0);
	border-right: 5px solid rgb(255, 0, 0);
    background: transparent;
}

#arrow-left{
    margin-left: 10px;
    transform: translate3d(0,-50%,0) rotate(-135deg);
}

#arrow-right{
    right: 0;
    margin-right: 10px;
    transform: translate3d(0,-50%,0) rotate(45deg);
}

#arrow-left:hover, #arrow-right:hover {
    border-top: 5px solid rgb(59, 59, 59);
    border-right: 5px solid rgb(59, 59, 59);
}

.vehiclebasicinfo {
    font-size: 40px;
    margin-bottom: 10px;
    padding: 5px;
}

.cardescription {
    list-style:none;
    margin: 0;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    display:inline-block;
    width: auto;
    height: auto;

}
.cardescription li.builddate:before{
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    background-image: url('./../../../img/cardescription/cars-components/svg/065-car-key-1.svg');
    background-repeat: no-repeat;
    margin-right: 3px;
}
.cardescription li.engine:before{
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    background-image: url('./../../../img/cardescription/cars-components/svg/047-fuel.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
}
.cardescription li.horsepower:before{
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    background-image: url('./../../../img/cardescription/cars-components/svg/027-piston.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
}
.cardescription li.eurostandart:before{
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    background-image: url('./../../../img/cardescription/cars-components/svg/058-exhaust-pipe-1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
}
.cardescription li.gearbox:before{
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    background-image: url('./../../../img/cardescription/cars-components/svg/012-gearshift-3.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
}
.cardescription li.category:before{
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    background-image: url('./../../../img/cardescription/cars-components/svg/061-car.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
}
.cardescription li.mileage:before{
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    background-image: url('./../../../img/cardescription/cars-components/svg/020-speedometer.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
}
.cardescription li.color:before{
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    background-image: url('./../../../img/cardescription/cars-components/svg/070-car-painting.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
}

.cardescription li.builddate, li.engine, li.horsepower, li.eurostandart, li.gearbox, li.category, li.mileage, li.color {
    display: inline-block;
    margin: 2px;
    float: left;
    clear: left;
    margin-left: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
    font-size: 25px;

}

.cardescription li.datainput{
display: inline-block;
margin: 2px;
font-weight: 600;
float: right;
clear: right;
margin-top: 5px;
margin-bottom: 15px;
margin-right: 5px;
font-size: 25px;
}