@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.carouselInner, .carousel {
    position: absolute;
    display:inline-block;
    width: 1190px;
    margin-left: 3px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    z-index: 0;
}
.carousel {
    position: absolute;
    margin-top: 80px;
    border: 3px solid black;
    border-radius: 10px;
    
}
.carouselInner span{
    margin-top: 10px;
    font-size: 20px;
}

.currentimage{
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.image1{background-image: url('./../../../img/testlisting/testimage1.png')}
.image2{background-image: url('./../../../img/testlisting/testimage2.png')}
.image3{background-image: url('./../../../img/testlisting/testimage3.png')}

.vipstatus{
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 160px;
    height: 120px;
    margin-left: 0px;
    margin-top: 40px;
    z-index: 1;
    background-image: url('./../../../img/testlisting/vip.png')
}

.vehicleinfo{
    position: absolute;
    display:inline-block;
    width: 600px;
    height: 455px;
    top:1150px;
    left: 20px;
    font-size: 20px;
    text-align:left;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-overflow: scroll;
}

.arrow {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
    border-top: 5px solid rgb(255, 0, 0);
	border-right: 5px solid rgb(255, 0, 0);
    background: transparent;
}

#arrow-left{
    left: 0;
    margin-left: 10px;
    transform: translate3d(0,-50%,0) rotate(-135deg);
}

#arrow-right{
    right: 0;
    margin-right: 10px;
    transform: translate3d(0,-50%,0) rotate(45deg);
}

#arrow-left:hover, #arrow-right:hover {
    border-top: 5px solid rgb(59, 59, 59);
    border-right: 5px solid rgb(59, 59, 59);
}

.vehicleMakeModel {
    position: absolute;
    font-size: 40px;
    margin-bottom: 10px;
    padding: 5px;
    top: 600px;
    width: 450px;
    text-align: center;
}

.cardescription {
    position: absolute;
    list-style:none;
    margin: 0;
    padding: 10px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    display:inline;
    width: 400px;
    height: 400px;
    top: 700px;
    left: 20px;
    

}
.cardescription li.builddate:before{
    content: '';
    display: inline-block;
    height: 20px;
    width: 1em;
    background-image: url('./../../../img/cardescription/cars-components/svg/065-car-key-1.svg');
    background-repeat: no-repeat;
    margin-right: 3px;
}
.cardescription li.engine:before{
    content: '';
    display: inline-block;
    height: 20px;
    width: 1em;
    background-image: url('./../../../img/cardescription/cars-components/svg/047-fuel.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
}
.cardescription li.horsepower:before{
    content: '';
    display: inline-block;
    height: 20px;
    width: 1em;
    background-image: url('./../../../img/cardescription/cars-components/svg/027-piston.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
}
.cardescription li.eurostandart:before{
    content: '';
    display: inline-block;
    height: 20px;
    width: 1em;
    background-image: url('./../../../img/cardescription/cars-components/svg/058-exhaust-pipe-1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
}
.cardescription li.gearbox:before{
    content: '';
    display: inline-block;
    height: 20px;
    width: 1em;
    background-image: url('./../../../img/cardescription/cars-components/svg/012-gearshift-3.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
}
.cardescription li.category:before{
    content: '';
    display: inline-block;
    height: 20px;
    width: 1em;
    background-image: url('./../../../img/cardescription/cars-components/svg/061-car.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
}
.cardescription li.mileage:before{
    content: '';
    display: inline-block;
    height: 20px;
    width: 1em;
    background-image: url('./../../../img/cardescription/cars-components/svg/020-speedometer.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
}
.cardescription li.color:before{
    content: '';
    display: inline-block;
    height: 20px;
    width: 1em;
    background-image: url('./../../../img/cardescription/cars-components/svg/070-car-painting.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 3px;
}

.cardescription li.builddate, li.engine, li.horsepower, li.eurostandart, li.gearbox, li.category, li.mileage, li.color {
    display: inline-block;
    margin: 2px;
    float: left;
    clear: left;
    margin-left: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
    font-size: 25px;

}

.cardescription li.datainput{
display: block;
margin: 2px;
font-weight: 600;
clear: right;
margin-top: 5px;
margin-bottom: 15px;
margin-right: 5px;
font-size: 25px;
text-align: right;
}

.map {
    display: inline-block;
    position: absolute;
    width: 1190px;
    height: 750px;
    margin-top: 1650px;
    margin-left: 2px;
}

.userinfo {
    display: inline-block;
    position: absolute;
    width: 450px;
    height: 450px;
    margin-top: 1150px;
    margin-left: 700px;
    border: 3px solid black;
    border-radius: 10px;
}

.pricetag {
    position: absolute;
    width: auto;
    right: 0;
    margin-right: 10px;
    top: 590px;
    height: 45px;
    font-size: 30px;
    border: 3px solid rgb(0, 102, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
}

.vehicleExtras {
    width: 460px;
    height: 425px;
    margin-left: 700px;
    margin-top: 696px;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-overflow: scroll;
    font-size: 20px;
}

.viewsCounter{
        position: absolute;
        width: auto;
        right: 0;
        margin-right: 10px;
        top: 50px;
        height: auto;
        font-size: 20px;
        border-radius: 10px;
        text-align: center;
}