
.searchbox {
    position: relative;
    margin: 20px 20px 20px 10px;
    background-color: rgba(243, 8, 8, 0.37);
    border-radius: 25px;
    width: 2050px;
    max-height: 200px;
    display: inline-block;
    overflow: hidden;
    transition: max-height ease-out 0.5s;
}

.searchboxheading {
    margin: 10px 20px;  
}

#carcategory {
    margin-top: 50px;
    margin-left: 20px;
}

.test {
    display: none;
    margin: 10px;
}

#carcategory, #carmake, #carmodel, #priceholder, #yearholder, .test {
    width: 115px;
}


#categorylabel, #carmakelabel, #carmake, #priceholderlabel, #priceholder,  #yearholderlabel, #yearholder, #carmodellabel, #carmodel {
    margin: 10px;
}

#enginelabel {
    position: fixed;
    margin-top: 100px;
    margin-left: -695px;
}

#engineholder {
    position: fixed;
    margin-top: 140px;
    margin-left: -695px;
}


#categorylabel {
    margin-left: 20px;
}

#categorylabel, #carmakelabel, #priceholderlabel, #yearholderlabel, #carmodellabel {
    position: absolute;
    display: inline-flex;
}

.detailedsearch {
    display: inline;
    margin-left: 20px;
}

#submit {
    margin-left: 510px;
    margin-bottom: 40px;
}