
.carouselPublish {
    width: 100%;
    height: 700px;
    background-color: black;
    display: inline-block;
    position:absolute;
    vertical-align: middle;
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
    left: 0;
}

.carouselInnerPublish {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.carouselInnerPublish .left {
    flex: 5%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    display: grid;
    place-items: center;
    color: white;
    cursor: pointer;
}

.carouselInnerPublish .center {
    flex: 80%;
    height: 100%;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-align-last: center;
}

.carouselInnerPublish .right {
    flex: 5%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    display: grid;
    place-items: center;
    color: white;
    cursor: pointer;
}
 .publishbox {
    background-color: rgba(243, 8, 8, 0.37);
    border-radius: 25px;
    max-height: 1000px;
    overflow: hidden;
    transition: max-height ease-out 0.5s;
    vertical-align: middle;
    float: left;
    position:absolute;
    width:80%;
    margin-top: 10%;
    left: 10%;
  }
  .publishMain label {
    text-align:center;
    line-height:150%;
    font-size:.85em;
  }

  h2.titlePub {
      position: absolute;
      text-align: center;
      left: 500px;
      
  }


  .publishMain #categorylabel, #carmakelabel, #carmake, #priceholderlabel, #priceholder,  #yearholderlabel, #yearholder, #carmodellabel, #carmodel {
    margin: 10px;
  }
  
  .publishMain #enginelabel, #powerlabel, #rangelabel, #minpricelabel {
    margin-top: 100px;
  }

  .row1, .row2, .ro3 {
      width: 100%;
      height: 30px;
      display: block;
  }
  .row1{
      margin-top: 10px;
  }
  .row2{
      margin-left: 450px;
  }
  .row3{
      margin-left: 800px;
  }
  .extrasComponent{
      margin-top: 100px;
      display: block;
      margin-left: 700px;
  }
  .extrasheading{
      left: 330px;
  }
  .infoholder {
      margin-top: 50%;
  }
  #infolabel {
    position: absolute;
      text-align: center;
      margin-top: 450px;
      left: 430px;
      font-size: 15px;
  }
  .infoholder {
    height: 300px;
    width: 90%;
    margin-left: 0%;
    margin-bottom: 100px;
    text-align: left;
    text-overflow: scroll;
    border-radius: 20px;
    border-color: transparent;
  }

  .picturesDiv {
      display: inline-block;
      height: auto;
      width: 100%;
      margin-top:95%
  }
  .removeButton {
    position: absolute;
    width: 150px;
    height: 35px;
    border-radius: 25px;
    background: linear-gradient(40deg, #f30000, #d40404);
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
    border-color: transparent;
    top: 0;
    right: 10px;
    z-index: 1;
    margin-top:95%
  }
  .uploadImage #file{
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }
  .uploadImageInner label{
    width: 150px;
    height: 35px;
    border-radius: 25px;
    background: linear-gradient(40deg, #f30000, #d40404);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
    right: 10px;
  }
  .uploadImageInner label:hover, .uploadPic:hover, .removeButton:hover{
    background: rgb(182, 0, 0);
  }
  .uploadPic {
    position: absolute;
    width: 150px;
    height: 35px;
    border-radius: 25px;
    background: linear-gradient(40deg, #f30000, #d40404);
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
    left: 160px;
    border-color: transparent;
    top: 0;
    z-index: 1;
    margin-top:95%
  }

  #publishbutton{
    position: absolute;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(40deg, #f30000, #d40404);
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
    left: 450px;
    border-color: transparent;
    z-index: 1;
    margin-top: 720px;
  }
  #publishbutton:hover{
      background: rgb(0, 255, 0);
  }