.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body, nav {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
    position: static;
}

.leftbackground {
    display: inline-block;
    width: 333px;
    height: 1200px;
    position: fixed;
    background-image: url(../img/sitebackground/left.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -333px;
}

.rightbackground {
    display: inline-block;
    margin-left: 1200px;
    width: 333px;
    height: 1200px;
    position: fixed;
    background-image: url(../img/sitebackground/right.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    font-family: 'Zen Dots', cursive;
    font-size: 60px;
    color: white;
    background-color: rgb(231, 6, 6);
    margin: 0 auto;
    text-align: center;
}

.menu {
    position: relative;
    width: 100%;
    flex: 100%;
    display: flex;
    margin: 0 auto;
    padding-inline-start: 0px;
    background-color: rgb(204, 118, 118);
}

nav li {
    position: relative;
    padding: 20px;
    display: inline-block;
    text-align: center;
    flex: 1;
    margin: 10px;
    background-color: rgb(230, 70, 52);
    border-radius: 10px;
}

nav li:hover {
    cursor: pointer;
    background-color: slategrey;
}

nav li {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

main {
    position: relative;
    display: flex;
    width: 1200px;
    height: 3000px;
    background-color: rgb(204, 118, 118);

}

.selected, footer {
    background-color: rgb(177, 19, 66);
}

.searchbox {
  position: relative;
  margin: 20px 20px 20px 10px;
  background-color: rgba(243, 8, 8, 0.37);
  border-radius: 25px;
  width: 2050px;
  max-height: 200px;
  display: inline-block;
  overflow: hidden;
  transition: max-height ease-out 0.5s;
}

.searchboxheading {
  margin: 10px 20px;  
}

#carcategory {
  margin-top: 50px;
  margin-left: 20px;
}

.test {
  display: none;
  margin: 10px;
}

#carcategory, #carmake, #carmodel, #priceholder, #yearholder, .test {
  width: 115px;
}


#categorylabel, #carmakelabel, #carmake, #priceholderlabel, #priceholder,  #yearholderlabel, #yearholder, #carmodellabel, #carmodel {
  margin: 10px;
}

#enginelabel, #powerlabel, #rangelabel, #minpricelabel, #maxyearlabel {
  position: absolute;
  margin-top: 100px;
}

#engineholder, #powerholder, #rangeholder, #minpriceholder, #maxyearholder {
  position: absolute;
  margin-top: 140px;
}

#enginelabel {
  margin-left: -690px;
}

#engineholder {
  margin-left: -670px;
}

#powerlabel {
  margin-left: -565px;
}

#powerholder {
  margin-left: -545px;
}

#minpricelabel, #paintlabel {
  margin-left: -295px;
}

#minpriceholder, #paintholder {
  margin-left: -275px;
}

#rangelabel, #ecategorylabel {
  margin-left: -415px;
}

#rangeholder, #ecategoryholder {
  margin-left: -410px;
}

#maxyearlabel {
  margin-left: -145px;
}

#maxyearholder {
  margin-left: -130px
}

#gearboxlabel, #locationlabel, #ecategorylabel, #paintlabel {
  position: absolute;
  margin-top: 180px;
}

#gearboxholder, #locationholder, #ecategoryholder, #paintholder {
  position: absolute;
  margin-top: 225px;
}

#gearboxlabel {
  margin-left: -685px;
}

#gearboxholder {
  margin-left: -670px;
}

#locationlabel {
  margin-left: -565px;
}

#locationholder {
  margin-left: -545px;
}

#categorylabel {
  margin-left: 20px;
}

.extrasheading {
  position: absolute;
  margin-top: 190px;
  margin-left: 50px;
}

#electricWindowslabel, #airConditioninglabel, #alarmlabel, #fourwheellabel {
  position: absolute;
  margin-top: 300px;
}

#electricWindowsholder, #airConditioningholder, #servoholder, #alarmholder, #fourwheelholder {
  position: absolute;
  margin-top: 303px;
}

#electricWindowslabel, #bluetoothlabel {
  margin-left: -685px;
}

#electricWindowsholder, #bluetoothholder {
  margin-left: -630px;
}

#airConditioninglabel, #boardcomputerlabel {
  margin-left: -550px;
}

#airConditioningholder, #boardcomputerholder {
  margin-left: -480px;
}

#servolabel, #navigationlabel {
  position: absolute;
  margin-top: 290px;
  margin-left: -415px;
}

#servoholder, #navigationholder {
  margin-left: -360px;
}

#alarmlabel, #rainsensorlabel {
  margin-left: -280px
}

#alarmholder, #rainsensorholder {
  margin-left: -235px;
}

#fourwheellabel {
  margin-left: -145px;
}

#fourwheelholder, #seatheaterholder {
  margin-left: -120px;
}

#bluetoothlabel, #boardcomputerlabel, #navigationlabel, #rainsensorlabel, #seatheaterlabel {
  position: absolute;
  margin-top: 373px;
}

#rainsensorlabel, #seatheaterlabel {
  margin-top: 363px;
}

#bluetoothholder, #boardcomputerholder, #navigationholder, #rainsensorholder, #seatheaterholder {
  position: absolute;
  margin-top: 376px;
}

#seatheaterlabel {
  margin-left: -173px;
}

#categorylabel, #carmakelabel, #priceholderlabel, #yearholderlabel, #carmodellabel {
  position: absolute;
  display: inline-flex;
}

.detailedsearch {
  display: inline;
  margin-left: 20px;
}

#submit {
  margin-left: 510px;
  margin-bottom: 40px;
}

.mostlyviewed {
  position: relative;
  background-color: rgb(255, 255, 255, .4);
  width: 92%;
  height: 600px;
  border-radius: 25px;
  display: inline-block;
  margin: 20px 10px 20px 0;
  padding-right: auto;
  overflow: scroll;
}

.mostlyviewed::-webkit-scrollbar {
  display: none;
}

.mostlyviewedheading {
  margin: 20px;
}

.container {
  margin-top: 20px;
  margin-left: 20px;
  border: 2px solid black;
  width: 340px;
  height: 109px;
}

main .recentsearch {
  position: absolute;
  float: right;
  border-radius: 25px;
  height: 378px;
  width: 733px;
  margin: 240px 0 0 10px;
  background-color: rgb(238, 17, 17);
  overflow: scroll;
  padding-left: 20px;
}

.recentsheading {
  margin: 5px 20px;
}

.recentsearch::-webkit-scrollbar {
  display: none;
}

.ad {
  display: inline-block;
  width: 340px;
  height: 109px;
  border: 2px solid black;
  margin: 10px;
}

main .ads {
  position: absolute;
  float: right;
  margin-top: 640px;
  margin-left: 30px;
  background-color: rgb(204, 118, 118);
}

/**/
body {
  background-color: #EDF2F7;
  color: #2D3748;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
  font-size: 2rem;
}

.resultscontainer {
  width: 1000px;
  margin: 0 auto;
}

.recentSearchesContainer {
  width: 1000px;
  margin: 0 auto;
  margin-left: -120px;
  margin-bottom: 20px;
}

.mostViewedContainer {
  width: 500px;
  margin: 0 auto;
  margin-left: -50px;
  margin-bottom: 20px;
}

.listin {
  background-color: #e9876f;
  width: 400px;
  margin-top: 20px;
  margin-right: 20px;
  border-top: solid 2px rgb(224, 144, 124);
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  display: inline-block;

}

.recentSearches {
  background-color: #e9876f;
  width: 300px;
  margin-top: 20px;
  margin-right: 20px;
  border-top: solid 2px rgb(224, 144, 124);
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  display: inline-block;
}

.listin:hover {
  background-color: #be6a55;
  width: 400px;
  margin-top: 20px;
  margin-right: 20px;
  border-top: solid 2px rgb(194, 124, 106);
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  display: inline-block;
  cursor: pointer;
}

.recentSearches:hover {
  background-color: #be6a55;
  width: 300px;
  margin-top: 20px;
  margin-right: 20px;
  border-top: solid 2px rgb(194, 124, 106);
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  display: inline-block;
  cursor: pointer;
}

.field{
  display: flex;
  justify-content: flex-start;
  margin-top: 2px;
}

.label {
  font-weight: bold;
  font-size: 1rem;
  width: 6rem;
}

.value {
  color: #4A5568;
}

.content .value {
  font-style: italic;
}

#vip {
  color: red;
}

.editmylistin {
    background-color: #e9876f;
    width: 400px;
    height: 60px;
    margin-top: 20px;
    margin-right: 20px;
    border-top: solid 2px rgb(224, 144, 124);
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    display: inline-block;
}

.editmylistin:hover {
  background-color: #be6a55;
  width: 400px;
  height: 60px;
  margin-top: 20px;
  margin-right: 20px;
  border-top: solid 2px rgb(194, 124, 106);
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  display: inline-block;
  cursor: pointer;
}

.infoforedit:hover {
  margin-right: 10px;
  margin-top: -5px;
  position: absolute;
  display: inline-block;
  background-color: #a15a48;
}

.infoforedit {
  margin-left: -180px;
  margin-right: 10px;
  margin-top: -5px;
  position: absolute;
  display: inline-block;
}