.mostlyviewed {
    position: relative;
    border: 2px solid rgba(189, 27, 27, 0.719);
    width: 100%;
    height: 600px;
    border-radius: 25px;
    margin: 20px 0 20px 0;
    padding-right: auto;
}

.mostlyviewedheading {
    margin: 20px;
}

.container1, .container2, .container3 {
    margin: 20px;
    border: 2px solid black;
    height: 150px;
}