
.searchbox {
    position: relative;
    margin: 20px 20px 20px 0;
    background-color: rgba(243, 8, 8, 0.37);
    border-radius: 25px;
    width: 2000px;
    max-height: 200px;
    display: inline-block;
    overflow: hidden;
    transition: max-height ease-out 0.5s;
}

.searchboxheading {
    margin: 10px 20px;  
}

#carcategory {
    margin-top: 50px;
    margin-left: 20px;
}

#categorylabel, #carmakelabel, #carmake, #priceholderlabel, #priceholder,  #yearholderlabel, #yearholder {
    margin: 10px;
}

#categorylabel, #carmakelabel, #priceholderlabel, #yearholderlabel {
    position: absolute;
    display: inline-flex;
}

#submit {
    display: block;
    margin-left: 20px;
}

.detailedsearch {
    margin-left: 200px;
    margin-bottom: 40px;
}